.nav-link {
    color: #495057; /* Default text color for nav links */
}

.is-active {
    background-color: #495057; /* Dark background for active link */
    color: #ffffff; /* Active link text color */
}

.nav-link:hover {
    color: orange; /* Hover text color */
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    color: #f7941d;
}

.order-status {
    font-weight: bold;
}

.status-delivered {
    color: green;
}

.status-processing {
    color: orange;
}

.status-cancelled {
    color: red;
}
