@model ChangePasswordViewModel

@section Styles {
    <link rel="stylesheet" href="/css/profile.css">
}

<div class="container-xl px-4 mt-4">
    <hr class="mt-0 mb-4">
    <div class="row " style="margin-bottom: 40px">
        @await Html.PartialAsync("_ProfileSideBar", Model)
        <div class="col-lg-8">
            <!-- Change password card-->
            <div class="card mb-4">
                <div class="card-header">Change Password</div>
                <div class="text-primary text-center">
                    You are using external login and do not have a local password. <br /> 
                    You can set password and then use your email as the username for local login.
                </div>
                <div class="card-body">
                    <form action="/account/addpassword" method="POST">
                        <div asp-validation-summary="All" class="text-danger"></div>

                        <div class="mb-3">
                            <label asp-for="NewPassword" class="small mb-1">New Password</label>
                            <input asp-for="NewPassword" maxlength="50" class="form-control" type="password" placeholder="Nhập mật khẩu mới" required>
                            <span asp-validation-for="NewPassword" class="text-danger"></span>
                        </div>
                        <!-- Form Group (confirm password)-->
                        <div class="mb-3">
                            <label class="small mb-1" asp-for="ConfirmPassword">Confirm New Password</label>
                            <input asp-for="ConfirmPassword" maxlength="50" class="form-control" type="password" placeholder="Xác nhận mật khẩu mới" required>
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                        </div>
                        @if (ViewBag.UpdateMessage != null)
                        {
                            <div>
                                <span class="text-success">Add Success</span>
                            </div>
                        }
                        <button class="btn btn-dark" type="submit">Add</button>
                    </form>
                </div>


            </div>
        </div>
    </div>
</div>
