<div class="text-center">
    <h2 class="text-danger">@ViewBag.ErrorTitle</h2>
    <h4 class="text-danger">@ViewBag.ErrorMessage</h4>
    <img src="~/img/ProductImg/email.png" style="height:300px; width:300px; margin: 20px;" />
</div>

